#loading {
  background: #141414; }

.pt-0 {
  padding-top: 0px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.mt-0 {
  margin-top: 0px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mr-5 {
  margin-right: 5px !important; }

.primary-color, a {
  color: #0f86ff; }

.img-responsive.img-center {
  margin: 0px auto; }

.opacity-50 {
  opacity: 0.5; }

.counter-block h6 {
  font-size: 15px; }

.footer hr {
  margin-top: 30px; }

.btn-lg, .btn-xs, .btn-sm {
  border-radius: 0px; }

.form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0px; }
  .form-control.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333; }

a.inherit {
  color: inherit; }
  a.inherit:hover {
    color: #0f86ff; }

.mega-menu .menu-logo {
  padding: 26px 0px; }
  @media (max-width: 992px) {
    .mega-menu .menu-logo {
      padding: 10px 0; } }
  .mega-menu .menu-logo img {
    height: 55px; }
    @media (max-width: 992px) {
      .mega-menu .menu-logo img {
        height: 40px; } }

.about-content img {
  height: 63px; }

.our-clients {
  overflow: hidden; }

@media (min-width: 992px) {
  .col-md-offset-1-5 {
    margin-left: 12.45%; } }

.search-top .search-btn {
  font-size: 20px; }

.search-top .search-box {
  padding: 15px 0px 5px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: none !important; }
  .search-top .search-box [disabled] {
    opacity: 0.5; }
  .search-top .search-box Select {
    height: 40px; }
  .search-top .search-box i {
    position: relative;
    top: 0px;
    right: auto; }
  .search-top .search-box .form-group {
    margin-bottom: 10px; }
  .search-top .search-box .searchicon {
    margin-bottom: 10px;
    font-size: 40px;
    display: inline-block;
    line-height: 40px; }
  .search-top .search-box .text-center {
    text-align: center !important; }

.feature-box-3 {
  margin-bottom: 10px; }
  .feature-box-3 .icon {
    clear: left; }

.sky-sidebar .well {
  border: 0px;
  box-shadow: none;
  border-radius: 0px; }
  .sky-sidebar .well .feature-box i {
    background: #0f86ff;
    color: #fff; }

.contact-map .map-overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 400px;
  /* your iframe height */
  top: 400px;
  /* your iframe height */
  margin-top: -400px;
  /* your iframe height */ }

@media (min-width: 768px) {
  .sky-row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .sky-row-eq-height.flex-center {
      align-items: center;
      justify-content: center; } }

@media (max-width: 768px) {
  .text-center-xs {
    text-align: center; }
  .car-top {
    display: none; } }

.elite-search-form .btn-primary {
  background: #0f86ff;
  border: 0px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.skycontent p + h2, .skycontent p + h3, .skycontent p + h4, .skycontent ul + h2, .skycontent ul + h3, .skycontent ul + h4, .skycontent ol + h2, .skycontent ol + h3, .skycontent ol + h4 {
  margin-top: 30px; }

.skycontent h4 {
  font-size: 18px; }

.skycontent ul, .skycontent ol {
  margin-bottom: 15px; }

.skycontent .imgleft {
  float: left;
  margin: 2px 10px 10px 0px; }

.skycontent .imgright {
  float: right;
  margin: 2px 0px 10px 10px; }

.skycontent h2, .skycontent h3, .skycontent h4, .skycontent h5 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .skycontent h2:before, .skycontent h3:before, .skycontent h4:before, .skycontent h5:before {
    background: #0f86ff;
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    left: 0;
    bottom: 0px; }

.form-group label {
  margin-top: 0px; }

input[type=file] {
  height: auto; }

.list-icons li {
  list-style: none; }

.bg-4 {
  background-size: cover; }

.sidebar-element p img {
  max-width: 100%;
  height: auto; }

.blog-sidebar .widget-search button {
  position: absolute;
  right: 0px;
  padding: 16px 12px;
  font-size: 14px;
  color: #626262;
  cursor: pointer;
  background: none;
  border: none;
  line-height: 14px; }
  .blog-sidebar .widget-search button:hover {
    color: #0096ff; }
  .blog-sidebar .widget-search button > i {
    position: relative;
    padding: 0px;
    color: inherit; }

#dealermap {
  height: 600px;
  margin-top: 30px; }

.blog-sidebar .sidebar-widget .tags li.active a {
  border-color: #0f86ff;
  background: #0f86ff;
  color: #fff; }

.manufactuer-row > * {
  margin-bottom: 30px; }

.man-page-logo {
  max-width: 100px;
  display: inline-block; }

.carselectinactive {
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease; }
  .carselectinactive:hover {
    opacity: 1; }

.panel-heading h3 {
  margin-bottom: 0px; }

#tabs .tabs li {
  font-size: 1.2em; }

.tab-content.stats {
  font-family: 'Roboto', sans-serif; }
  .tab-content.stats h4 {
    margin: 10px 0px; }
  .tab-content.stats .fa-4x {
    line-height: normal; }
  .tab-content.stats .add-border {
    border-bottom: 1px solid #999999; }
  .tab-content.stats .tab-content {
    padding: 0px; }
  .tab-content.stats .tab-pane {
    padding: 20px;
    background: #f6f6f6; }
  .tab-content.stats .from-stat {
    font-size: 2.5em;
    vertical-align: middle; }
    .tab-content.stats .from-stat * {
      vertical-align: middle; }
  .tab-content.stats .timer {
    display: inline-block;
    vertical-align: middle;
    font-size: 4em; }
  .tab-content.stats .text-success {
    color: #0096ff; }
  .tab-content.stats .label {
    opacity: 0.6;
    font-style: italic;
    font-size: 1.2em !important;
    color: inherit !important;
    padding: 0px; }
  .tab-content.stats .difference {
    background: #fff;
    vertical-align: middle;
    font-size: 1.2em;
    margin: 0px 10px;
    color: #50a100;
    font-size: 1.3em; }
  .tab-content.stats .feature-box {
    padding: 35px 0px;
    background: #0096ff;
    color: #fff; }

hr {
  border-bottom: 1px solid #ddd; }

.label-success-outline {
  background: #0096ff; }

.additional-options {
  line-height: 35px;
  font-size: 1.1em !important; }

.uploaded li + li {
  border-top: 1px solid #e1e1e1; }

.uploaded li {
  padding: 15px 0px 0px 0px;
  list-style: none; }
  .uploaded li:before {
    display: none; }

.uploaded time {
  padding-right: 10px; }

.uploaded .queue strong {
  font-weight: normal;
  color: #0f86ff; }
  .uploaded .queue strong.overdue {
    color: #d60000; }

.uploaded .btn.pull-right {
  margin: 25px 0px; }

.uploaded .btn-default {
  cursor: default; }
  .uploaded .btn-default:hover {
    background-color: #e1e1e1;
    border-color: #d3d3d3; }

.button[disabled] {
  cursor: not-allowed; }
  .button[disabled] i, .button[disabled] i:hover {
    color: inherit;
    cursor: inherit; }
  .button[disabled]:before {
    display: none; }

.alert.text-center .glyphicon, .alert.text-center .fa {
  font-size: 2em; }

hr {
  margin: 20px 0px; }

.text-lg {
  font-size: 1.5em; }

/*******************/
/*ajax error styles*/
/*******************/
.gotcha {
  display: none;
  width: 0px;
  height: 0px;
  overflow: hidden; }

form.standardajax {
  position: relative; }
  form.standardajax .errorbox {
    display: none;
    font-size: 1.5em;
    background: #e31000;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    position: absolute;
    color: #ffffff;
    padding: 20px;
    width: 240px;
    text-align: center;
    top: 40%;
    margin-top: -50px;
    margin-left: -120px;
    left: 50%;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.5em; }
  form.standardajax .sendbox {
    background: #33455a; }
  form.standardajax .sendingbox {
    width: 70px;
    margin-left: -35px; }
  form.standardajax .alert {
    /*bootstrap alert fallback */
    margin: 0px 0px 20px 0px; }
  form.standardajax input[disabled], form.standardajax textarea[disabled], form.standardajax select[disabled] {
    opacity: 0.4; }

/*spinner*/
.sky-spinner {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  position: relative;
  -webkit-animation: rotation 0.7s infinite linear;
  -moz-animation: rotation 0.7s infinite linear;
  -o-animation: rotation 0.7s infinite linear;
  animation: rotation 0.7s infinite linear;
  border: 3px solid rgba(255, 255, 255, 0.15);
  border-radius: 100% !important; }
  .sky-spinner:before {
    content: "";
    display: block;
    position: absolute;
    /*left:-6px;*/
    top: -3px;
    height: 100%;
    width: 100%;
    border-top: 3px solid rgba(255, 255, 255, 0.8);
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    border-radius: 100% !important; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(359deg); } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
