<div class="container" style="
    width: 750px;
    font-family: arial;
">
<div class="row">
<div class="col-sm-8" style="
    width: 66.66666667%;
    float: left;
"><img src="http://dev.logicsbuffer.com/wp-content/uploads/2018/10/logo.png"></div>
<div class="col-sm-4 control-label" style="
    text-align: right;
    font-family: arial;
    font-size: 14px;
    width: 33.33333333%;
    float: left;
">
<div style="
    line-height: 16px;
    font-weight: 600;
">SLT Remaping and Diagnostic LTD</div>
<div style="
    line-height: 16px;
    font-weight: 600;
">info@sltremapping.com</div>
<div style="line-height: 16px;font-weight: 600;">Tel: 0114 261 8146</div>
</div>
</div>
<div class="row">
<div class="col-sm-6" style="
    width: 48%;
    float: left;
    margin: 0% 1%;
">
<div class="" style="background-color: #000;color: #fff;padding: 5px 10px;">Invoice</div>
<div class="" style="background-color: #ddd;color: #000;padding: 5px 10px;">DD Remaping<br>
17 Wiajdad askdjakljd klajsd<br>
klasdfjklasj</div>
</div>
<div class="col-sm-6" style="
    width: 48%;
    float: left;
    margin: 0% 1%;
">
    <div class="" style="background-color: #fff;color: #fff;padding: 5px 10px;margin-top: 21px;"></div>
    <div class="" style="background-color: #ddd;color: #000;padding: 5px 10px;">
<div>Invoice number:446564</div>
<div>Invoice date:44645</div>
<div>Due Date:5454564654</div>
        </div>
</div>
</div>
<div class="row" style="
    margin-top: 35px;
">
<div class="col-sm-12" style="
    width: 98%;
    float: left;
    margin: 0 1%;
    margin-top: 35px;
">
<div class="head" style="
    border: 1px solid #999;
    background: #dddddd;
    padding: 4px 8px;
    font-weight: bold;
">Items:</div>
<div class="items" style="
    border: 1px solid #999;
    padding: 5px;
">22/10/2018 Fors asdkjfl asd fladsl f</div>
</div>
</div>
<div class="row">
<div class="col-sm-8" style="
    width: 66.66666667%;
    float: left;
    height: 10px;
"></div>
<div class="col-sm-4 control-label" style="
    width: 33.33333333%;
    padding: 0;
    float: left;
    margin-left: 0px;
">
<div class="col-sm-6 control-label" style="
    padding: 0;
    width: 50%;
    float: left;
">
<div style="
    border: 1px solid #999;
    padding: 5px 20px 5px 5px;
    font-weight: bold;
">Subtotatal:</div>
<div style="
    border: 1px solid #999;
    padding: 5px 20px 5px 5px;
    font-weight: bold;
">20% VAT:</div>
<div style="
    border: 1px solid #999;
    padding: 5px 20px 5px 5px;
    font-weight: bold;
    background: #ddd;
">Total:</div>
</div>
<div class="col-sm-6 control-label" style="
    /* padding: 0 0px 0px 0px; */
    width: 47%;
    float: left;
    /* background: #ddd; */
">
<div style="
    border: 1px solid #999;
    padding: 5px 20px 5px 5px;
">$55</div>
<div style="
    border: 1px solid #999;
    padding: 5px 20px 5px 5px;
">$11</div>
<div style="
    border: 1px solid #999;
    padding: 5px 20px 5px 5px;
    background: #ddd;
">$66</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12" style="
    text-align: center;
    margin-top: 20px;
    width: 100%;
    float: left;
">
<p>SLT Remapping &amp; Diagnostic LTD unit 6 , Fell Road , Shellffield ,S9 2AL</p>
<p>Registered company No: 06724570 | VAT No : 264980273</p>
</div>
</div>
</div>